:root {
  --white-color: #fff;
  --company-color: #21062a;
  --accent-color: #5a0d67;
  --silver-color: #c4c4c4;
  --black-color: #2c2b2b;

  --h0-fsize: 72px;
  --h0-fweight: 400;
  --h1-fsize: 36px;
  --h1-fweight: 400;
  --h2-fsize: 24px;
  --h2-fweight: 300;
  --btn-fsize: 14px;
  --btn-fweight: 300;
  --text-fsize: 18px;
  --text-fweight: 300;
}
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: currentColor;
  cursor: pointer;
}
img {
  max-width: 100%;
}
.icon {
  display: block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  font: var(--text-fweight) var(--text-fsize) / 1.5 "Oswald", sans-serif;
  color: var(--black-color);
  background-color: var(--white-color);
}
/* *******************************
TITLE
******************************* */
.title {
  position: relative;
  font-weight: var(--h1-fweight);
  font-size: var(--h1-fsize);
  line-height: 1.47;
  text-transform: uppercase;
  color: var(--company-color);
  margin-bottom: 50px;
}
.title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 3px;
  background-color: #21062a;
  margin-left: 8px;
}
/* *******************************
CONSULTATION
******************************* */
.consultation {
  position: relative;
  display: inline-block;
  padding: 14px 54px;
  font-weight: var(--btn-fweight);
  font-size: var(--btn-fsize);
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out 0.1s;
  white-space: nowrap;
}
.consultation:hover {
  color: var(--accent-color);
  border-color: var(--white-color);
  background-color: var(--white-color);
}
.consultation:hover.consultation--decor {
  border-color: var(--accent-color);
}
.consultation--decor::after {
  content: "жми";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(calc(100% + 80px), -50%);
  font-size: var(--btn-fsize);
  text-transform: uppercase;
  color: var(--silver-color);
}
.consultation--decor::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(70px, -50%);
  width: 80px;
  height: 2px;
  background-color: var(--silver-color);
}
/* *******************************
LOGO
******************************* */
.logo {
  flex: 0 0 197px;
  width: 197px;
  height: 53px;
}
/* *******************************
SOCIAL-MEDIA
******************************* */
.social-media {
  display: flex;
  align-items: center;
}
.social-media__item:not(:last-child) {
  margin-right: 12px;
}
.social-media__icon {
  fill: #fff;
}
/* *******************************
SECTION
******************************* */
.section {
  padding-top: 100px;
}
/* *******************************
HEADER
******************************* */
.header {
  background: var(--silver-color) url("../images/header-bg.jpg") center / cover
    no-repeat;
  min-height: 700px;
  height: 1px;
  color: var(--white-color);
}
.header__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header__top {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 47px 0 45px;
}
.header__top-phone {
  font-size: var(--h1-fsize);
  font-weight: var(--h1-fweight);
  padding-left: 20px;
}
.header__content {
  flex: 1;
  position: relative;
  padding-top: 60px;
}
.header__content-title {
  font-weight: var(--h0-fweight);
  font-size: var(--h0-fsize);
  text-transform: uppercase;
}
.header__content-subtitle {
  font-size: var(--h1-fsize);
  font-weight: var(--h1-fweight);
  margin-bottom: 30px;
}
.header__content-slogan {
  display: block;
  margin-bottom: 30px;
}
.header__content-btn {
  margin-bottom: 70px;
}
.header__content-social {
  padding-left: 60px;
}
.header__content-img {
  position: absolute;
  right: 0;
  bottom: -200px;
}
.icon-facebook {
  width: 14px;
  height: 25px;
}
.icon-instagram {
  width: 25px;
  height: 25px;
}
.icon-telegram {
  width: 25px;
  height: 19px;
}
.icon-whatsapp {
  width: 25px;
  height: 25px;
}
/* *******************************
SERVICES
******************************* */
.services.section {
  padding-top: 250px;
}
.services__inner {
  display: flex;
  margin-bottom: 50px;
}
.services__content {
  flex-basis: 50%;
}
.services__content-box {
  max-width: 500px;
  width: 83.33%;
}
.services__content-box:not(:last-child) {
  margin-bottom: 70px;
}
.services__content-title {
  display: block;
  color: var(--accent-color);
  margin-bottom: 12px;
}
.services__content-descr {
  display: block;
}
.services__content-text:not(:last-child) {
  margin-bottom: 12px;
}
.services__list {
  flex-basis: 50%;
  list-style-type: none;
  counter-reset: number;
}
.services__item {
  position: relative;
  max-width: 450px;
  width: 100%;
  padding: 11px 19px 11px 110px;
  border: 2px solid var(--silver-color);
  transition: max-width 0.3s ease-in-out;
}
.services__item::before {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%) rotate(-90deg);
  counter-increment: number;
  content: "0" counter(number);
  font-size: var(--h1-fsize);
  font-weight: var(--h1-fweight);
  color: var(--silver-color);
  transition: color 0.3s ease-in-out;
}
.services__item:not(:last-child) {
  margin-bottom: 12px;
}
.services__item:hover {
  max-width: 470px;
  border: 2px solid var(--accent-color);
}
.services__item:hover::before,
.services__item:hover .services__item-title {
  color: var(--accent-color);
}
.services__item:hover .services__item-text {
  color: var(--black-color);
}
.services__item-title {
  display: block;
  font-size: var(--h2-fsize);
  font-weight: var(--h2-fweight);
  line-height: 1;
  transition: color 0.3s ease-in-out;
}
.services__item-text {
  line-height: 1;
  transition: color 0.3s ease-in-out;
}
/* *******************************
BENEFITS
******************************* */
.benefits__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.benefits__images {
  flex-basis: 26.67%;
  margin-right: 20px;
}
.benefits__content {
  flex-basis: 65.42%;
}
.benefits__title {
  padding-left: 185px;
}
ul.benefits__list {
  background-color: var(--company-color);
  color: var(--white-color);
  padding: 25px 0 25px 185px;
}
.benefits__item {
  max-width: 320px;
  margin-bottom: 20px;
}
.benefits__item-num {
  display: block;
  font-weight: var(--h1-fweight);
  font-size: var(--h1-fsize);
}
.benefits__item-title {
  display: block;
  font-weight: var(--h2-fweight);
  font-size: var(--h2-fsize);
}
.benefits__item-descr {
  color: var(--silver-color);
}
/* *******************************
CAROUSEL
******************************* */
.carousel-box {
  margin-bottom: 20px;
  height: 350px;
}
.carousel-box__slider,
.carousel-box__card {
  width: 390px;
  height: 350px;
}
.carousel-box__card {
  box-sizing: border-box;
  padding: 7px 3px 0 3px;
  border: 1px solid var(--silver-color);
  background-color: var(--white-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out 0.1s;
}
.carousel-box__card:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
  border-color: var(--accent-color);
}
.carousel-box__card-img {
  display: block;
  width: 380px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 13px;
}
.carousel-box__card-name,
.carousel-box__card-discount {
  display: block;
  text-align: center;
}
.carousel-box__card-name {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.carousel-pagination {
  text-align: center;
}
.carousel-pagination .swiper-pagination-bullet {
  position: static;
  width: 50px;
  height: 5px;
  border-radius: 5px;
  margin: 0 10px;
}
/* *******************************
CONTACTS
******************************* */
.info__container {
  display: flex;
}
.info__contact,
.info__request {
  flex-basis: 50%;
  padding: 50px 0 30px;
}
.info__contact-item {
  margin-bottom: 20px;
}
.info__contact-strong {
  display: block;
  color: var(--accent-color);
}
.info__request {
  color: var(--white-color);
  background-color: var(--company-color);
}
.info__request .info__contact-title {
  margin-bottom: 20px;
  color: var(--white-color);
  text-align: center;
  margin-left: -80px;
  margin-bottom: 16px;
}
.info__request .info__contact-title::after {
  background-color: var(--white-color);
}
.form {
  width: 450px;
  margin: 0 auto;
  text-align: center;
}
.form__input {
  display: block;
  width: 100%;
  font: 300 18px/1.5 "Oswald", sans-serif;
  color: var(--silver-color);
  text-align: center;
  padding: 24px;
  border: 1px solid var(--white-color);
  background-color: transparent;
  margin-bottom: 12px;
}
.form__input::placeholder {
  color: currentColor;
}
.form__input:last-of-type {
  margin-bottom: 70px;
}
/* *******************************
FOOTER
******************************* */
.footer {
  padding: 24px 0;
  background-color: var(--company-color);
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social {
  flex-shrink: 0;
  margin: 0 auto;
}
.footer .social-media {
  padding: 0 10px;
}
.footer__police {
  white-space: nowrap;
  color: var(--white-color);
}
/* *******************************
MEDIA
******************************* */
@media screen and (max-width: 1140px) {
  .services__content-box {
    width: 95%;
  }
  .services__item:hover {
    max-width: 450px;
  }
}
@media screen and (max-width: 1024px) {
  .header__content-img {
    width: 80%;
    bottom: 0;
    transform: translateY(44%);
  }
  .services.section {
    padding-top: 200px;
  }
  .services__inner {
    flex-direction: column;
  }
  .services__content,
  .services__list {
    flex-basis: auto;
  }
  .services__list {
    order: -1;
    margin-bottom: 40px;
  }
  .services__content-box {
    max-width: 100%;
  }
  .services__content-box:not(:last-child) {
    margin-bottom: 40px;
  }
  .services__item,
  .services__item:hover {
    max-width: 100%;
  }
  .benefits__title {
    padding-left: 0;
  }
  .benefits__images {
    display: none;
  }
  .benefits__content {
    flex-basis: 100%;
  }
  ul.benefits__list {
    padding-left: 50px;
    padding-right: 25px;
  }
  .benefits__item {
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  .benefits__item-num {
    flex-basis: 30%;
    padding-right: 20px;
    text-align: right;
  }
  .benefits__item-droup {
    flex: 1;
  }
}
@media screen and (max-width: 900px) {
  :root {
    --h0-fsize: 54px;
  }
  .section {
    padding-top: 60px;
  }
  .header__top-phone {
    font-size: var(--h2-fsize);
  }
  .header__content-subtitle {
    font-size: var(--h2-fsize);
    margin-bottom: 20px;
  }
  .header__content-btn {
    margin-bottom: 30px;
  }
  .header__content-social {
    padding-left: 50px;
  }
  .services.section {
    padding-top: 160px;
  }
}

@media screen and (max-width: 768px) {
  .services.section {
    padding-top: 130px;
  }
}
@media screen and (max-width: 600px) {
  :root {
    --h0-fsize: 36px;
    --h1-fsize: 30px;
    --h2-fsize: 20px;
    --text-fsize: 16px;
  }
  .title {
    margin-bottom: 25px;
  }
  .title::after {
    width: 40px;
  }
  .header {
    min-height: 620px;
  }
  .header__content {
    text-align: center;
    padding-top: 0;
  }
  .header__content-social {
    padding-left: 0;
    justify-content: center;
  }
  .header__content-img {
    width: 100%;
  }
  .services.section {
    padding-top: 120px;
  }
  .services__inner {
    margin-bottom: 30px;
  }
  .services__content-box:not(:last-child) {
    margin-bottom: 20px;
  }
  .services__item {
    padding-left: 70px;
  }
}

@media screen and (max-width: 414px) {
  :root {
    --text-fsize: 14px;
  }
  .section {
    padding-top: 50px;
  }
  .consultation--decor::before,
  .consultation--decor::after {
    display: none;
  }
  .header {
    min-height: 580px;
  }
  .header__top {
    padding: 25px 0 25px;
  }
  .logo {
    flex: 0 0 160px;
    width: 160px;
    height: 43px;
  }
  .header__top-phone {
    font-size: var(--text-fsize);
  }
  .header__content-title span,
  .header__content-subtitle span {
    display: block;
  }
  .header__content-btn {
    margin-bottom: 15px;
  }
  .services {
    text-align: center;
  }
  .services__title,
  .services__inner {
    text-align-last: left;
  }
  .services.section {
    padding-top: 85px;
  }
  .services__item {
    padding-left: 40px;
  }
  .services__item::before {
    font-size: var(--h2-fsize);
    left: 10px;
  }
  ul.benefits__list {
    padding: 20px;
  }
  .benefits__item {
    flex-direction: column;
  }
  .benefits__item-num {
    flex-basis: auto;
    padding-right: 0;
    text-align: center;
  }
  .benefits__item-droup {
    text-align: center;
  }
}
