html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul[class] {
  list-style-type: none;
  padding: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: currentColor;
  cursor: pointer;
}
img {
  max-width: 100%;
}
.icon {
  display: block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  font: 300 18px/1.5 "Oswald", sans-serif;
  color: #2c2b2b;
  background-color: #fff;
}
/* *******************************
TITLE
******************************* */
.title {
  position: relative;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.47;
  text-transform: uppercase;
  color: #21062a;
  margin-bottom: 50px;
}
.title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 3px;
  background-color: #21062a;
  margin-left: 8px;
}
/* *******************************
CONSULTATION
******************************* */
.consultation {
  position: relative;
  padding: 14px 54px;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: #5a0d67;
  border: 1px solid #5a0d67;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}
.consultation:hover.consultation--decor {
  border-color: #5a0d67;
}
.consultation--decor::after {
  content: "жми";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(calc(100% + 80px), -50%);
  font-size: 14px;
  text-transform: uppercase;
  color: #c4c4c4;
}
.consultation--decor::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(70px, -50%);
  width: 80px;
  height: 2px;
  background-color: #c4c4c4;
}
.consultation:hover {
  color: #5a0d67;
  border-color: #fff;
  background-color: #fff;
}
/* *******************************
HEADER
******************************* */
.header {
  padding-bottom: 205px;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  background: silver url("../images/header-bg.jpg") center/cover no-repeat;
  min-height: 100vh;
  height: 1px;
  color: #fff;
}
.header__top {
  padding-top: 30px;
}
.header__inner {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header__top-logo {
  flex-shrink: 0;
}
.logo {
  width: 197px;
  height: 53px;
}
.header__top-phone {
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
}
.header__content {
  flex: 1;
}
.header__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
}
.header__content-title {
  font-size: 72px;
  line-height: 1.47;
  font-weight: 400;
  text-transform: uppercase;
}
.header__content-subtitle {
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.header__content-slogan {
  display: block;
  margin-bottom: 30px;
}
.header__content-btn {
  align-self: start;
  margin-bottom: 70px;
}
.social-media {
  display: flex;
  align-items: center;
}
.social-media__item:not(:last-child) {
  margin-right: 10px;
}
.social-media__icon {
  fill: #fff;
}
.header__content-picture {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(43%);
  max-width: 814px;
  width: 67.83%;
  padding-bottom: 38.35%;
}
.header__content-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icon-facebook {
  width: 14px;
  height: 25px;
}
.icon-instagram {
  width: 25px;
  height: 25px;
}
.icon-telegram {
  width: 25px;
  height: 19px;
}
.icon-whatsapp {
  width: 25px;
  height: 25px;
}
/* *******************************
SERVICES
******************************* */
.section {
  padding-top: 100px;
}
.services__inner {
  display: flex;
  margin-bottom: 50px;
}
.services__content {
  flex-basis: 50%;
}
.services__content-box {
  max-width: 500px;
  width: 83.33%;
}
.services__content-box:not(:last-child) {
  margin-bottom: 70px;
}
.services__content-title {
  display: block;
  color: #5a0d67;
  margin-bottom: 12px;
}
.services__content-descr {
  display: block;
}
.services__content-text:not(:last-child) {
  margin-bottom: 12px;
}
.services__list {
  flex-basis: 50%;
  list-style-type: none;
  counter-reset: number;
}
.services__item {
  position: relative;
  max-width: 455px;
  padding: 11px 47px 11px 110px;
  border: 2px solid #c4c4c4;
  transition: max-width 0.3s ease-in-out;
}
.services__item::before {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%) rotate(-90deg);
  counter-increment: number;
  content: "0" counter(number);
  font-size: 36px;
  font-weight: 400;
  color: #c4c4c4;
  transition: color 0.3s ease-in-out;
}
.services__item:not(:last-child) {
  margin-bottom: 12px;
}
.services__item:hover {
  max-width: 500px;
  border: 2px solid #5a0d67;
}
.services__item:hover::before,
.services__item:hover .services__item-title {
  color: #5a0d67;
}
.services__item:hover .services__item-text {
  color: #000;
}
.services__item-title {
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  transition: color 0.3s ease-in-out;
}
.services__item-text {
  line-height: 1;
  transition: color 0.3s ease-in-out;
}
/* *******************************
BENEFITS
******************************* */
.benefits__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.benefits__images {
  flex-basis: 26.67%;
  margin-right: 20px;
}
.benefits__content {
  flex-basis: 65.42%;
}
.benefits__title {
  padding-left: 185px;
}
ul.benefits__list {
  background-color: #21062a;
  color: #fff;
  padding: 25px 0 25px 185px;
}
.benefits__item {
  max-width: 320px;
  margin-bottom: 20px;
}
.benefits__item-num {
  display: block;
  font-weight: 400;
  font-size: 36px;
}
.benefits__item-title {
  display: block;
  font-weight: 300;
  font-size: 24px;
}
.benefits__item-descr {
  color: #c4c4c4;
}
/* *******************************
CAROUSEL
******************************* */
.carousel-box {
  margin-bottom: 20px;
  height: 350px;
}
.carousel-box__slider,
.carousel-box__card {
  width: 390px;
  height: 350px;
}
.carousel-box__card {
  box-sizing: border-box;
  padding: 7px 3px 0 3px;
  border: 1px solid #c4c4c4;
  background-color: #fff;
}
.carousel-box__card-img {
  display: block;
  width: 380px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 13px;
}
.carousel-box__card-name,
.carousel-box__card-discount {
  display: block;
  text-align: center;
}
.carousel-box__card-name {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.carousel-pagination {
  text-align: center;
}
.carousel-pagination .swiper-pagination-bullet {
  width: 50px;
  height: 3px;
  border-radius: 0;
  margin: 0 10px;
}
/* *******************************
CAROUSEL
******************************* */
.info__container {
  display: flex;
}
.info__contact,
.info__request {
  flex-basis: 50%;
  padding: 50px 0 30px;
}
.info__contact-item {
  margin-bottom: 20px;
}
.info__contact-strong {
  display: block;
  color: #5a0d67;
}
.info__request {
  color: #fff;
  background-color: #21062a;
}
.info__request .info__contact-title {
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  margin-left: -80px;
  margin-bottom: 16px;
}
.info__request .info__contact-title::after {
  background-color: #fff;
}
.form {
  width: 450px;
  margin: 0 auto;
  text-align: center;
}
.form__input {
  display: block;
  width: 100%;
  font: 300 18px/1.5 "Oswald", sans-serif;
  color: #c4c4c4;
  text-align: center;
  padding: 24px;
  border: 1px solid #ffffff;
  background-color: transparent;
  margin-bottom: 12px;
}
.form__input::placeholder {
  color: currentColor;
}
.form__input:last-of-type {
  margin-bottom: 70px;
}
/* *******************************
FOOTER
******************************* */
.footer {
  padding: 24px 0;
  background-color: #21062a;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__logo {
  flex-shrink: 0;
}
.footer__social {
  flex-shrink: 0;
  margin: 0 auto;
}
.footer .social-media {
  padding: 0 10px;
}
.footer__police {
  white-space: nowrap;
  color: #fff;
}
